body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    Weights: 400;
   
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

#fundo{
    position: relative;
    width: 1440px;
    height: 100%;
    background-color: hsl(257, 40%, 49%);
}
#logo{
   
  position:absolute;
  left: 2em;
  top: 4em;
}
#imgdestac{
    position: absolute;
    left: 2em;
    top: 12em;
}
#titulo{
    width: 400px;
    position: absolute;
    top: 13em;
    left: 54em;
    color: white;
}
.text{
    width:500px ;
    color: white;
    position: absolute;
    top:21em ;
    left: 54em;
}
#bt{
    width: 15em;
    height: 5em;
    position: absolute;
    left: 65em;
    top: 34em;
    border-radius: 45px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(87, 84, 84, 0.308);
    background-color: hsl(300, 69%, 71%);
    color: white;
    
}
#redes{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 80em;
    top: 46em;
    width: 110px;
}
.rede:hover{
    background-color: rgb(75, 51, 119);
    border-radius: 50%;
}